.profile__edit-button {
  border: 1px solid white;
  position: absolute;
  top: 15px;
  right: 0px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px;
  transition: opacity 0.5s linear;
}

.profile__edit-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
@media screen and (max-width: 670px) {
  .profile__edit-button {
    right: -15px;
  }
}
@media screen and (max-width: 470px) {
  .profile__edit-button {
    right: 17px;
    top: 5px;
    padding: 4px;
  }
}
