.popup__close-button {
  background-color: transparent;
  border-style: none;
  position: absolute;
  top: -49px;
  right: -51px;
  padding: 0;
  transition: opacity 0.5s linear;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 520px) {
  .popup__close-button {
    top: -52px;
    right: -1px;
  }
}
